<h1>Corso aggiornamento su angular</h1>
<div>
    <ul>
        <li><a routerLink="">Data binding</a></li>
        <li><a routerLink="direttive">Direttive strutturali</a></li>
        <li><a routerLink="parent">Child/Parent communication</a></li>
        <li><a routerLink="dep-inj">Dependency injection</a></li>
        <li><a routerLink="observer">Observer</a></li>
        <li><a routerLink="subject">Subject</a></li>
        <li><a routerLink="httpclient">HTTP Client</a></li>
    </ul>
</div>
<router-outlet></router-outlet>